<%inherit file="app_base.htm" />

  <%block name = "top_content">
  </%block>

<%block name="content">
    <div class="content">

        <h2>About Us</h2>

        <ul>
          <li>Changed alt text to be more descriptive</li>
          <li>Added underline to links</li>
          <li>Checked keyboard capability</li>
          <li>Darkened Theme Color</li>
          <li>Created New Section of Homepage</li>
          <li>Checked new section background</li>
          <li>Checked use of hierarchal page</li>
          <li>Hidden "Skip to main content" link added at top of page</li>
        </ul>

    </div>
</%block>
