<%inherit file="app_base.htm" />

  <%block name = "top_content">
  </%block>

<%block name="content">
    <div class="content">
        <h2>FAQ</h2>

        <p class = "question">How long can I rent an instrument for?</p>
        <p class = "answer">You may rent an instrument for however long or however short a time.
        Additionally, any rental can easily be renewed by calling us at (555) 555-5555</p>

        <p class = "question">How much time does it take to learn how to use my instrument</p>
        <p class = "answer">No one is truly ever "done" learning how to use their instrument.
        Even skilled instrumentalists who have been playing the same instrument for years may improve.
        It's simply of matter of how good you would like to get on the instrument and what kind of instrument it is.</p>
        
    </div>
</%block>
