<%inherit file="app_base.htm" />

<%block name="top_content">
  <div class = "top-content">
    <div class = "row">
      <div class = "col-md-4 col-xs-12">
        <br><br><br><br><br>
        <h1 class = "hero-heading">Fomo Instruments</h1>
        <a href = '/faq/'><button class = "btn hero-btn">Rent now</button></a>
      </div>
      <div class = "col-md-8 col-xs-12">
        <img src = "${ STATIC_URL }homepage/media/img/instrument.png" alt = "Icons of Common Istruments" class = "hero">
      </div>
    </div>
  </div>
</%block>

<%block name="left_column">
</%block>

<%block name="center_column">

  <div class = "row oDiv">
  <a name = "content"><div class = "col-xs-2"></div></a>
    <div class = "col-xs-8 homepageDiv">
      <h2 class = "bizName">Family Oriented Music Organization</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class = "btnDiv"><a href = "catalog/index/"><button class = "btn product_btn">View Products</button></a></div>
    </div>
    <div class = "col-xs-2"></div>
  </div>
</%block>

<%block name="right_column">
</%block>
