<%inherit file="app_base.htm" />

<%block name = "maintainence">
  <div class = "maintainence-message">This website is currently under construction</div>
</%block>

<%block name = "top_content">
    <div class = "row sectionTop-content">
      <h2>Top Content</h2>
    </div>
</%block>

<%block name = "left_column">
    <div class = "col-xs-2 sectionLeftColumn">
      <h2>Left Column</h2>
    </div>
</%block>

<%block name = "center_column">
    <div class = "col-xs-8 sectionCenterColumn">
        <h2>Center Column</h2>
    </div>
</%block>

<%block name = "right_column">
    <div class = "col-xs-2 sectionRightColumn">
      <h2>Right Column</h2>
    </div>
</%block>

<%block name = "foot">
  <footer class = "sectionFoot">
    <p>Footer</p>
  </footer>
</%block>
