<%inherit file="app_base.htm" />

  <%block name = "top_content">
  </%block>

<%block name="content">
    <div class="content">

        <h2>Terms</h2>

        <p><b>Accelerando:</b> - a term in gereral use to show that music should be played at an increasing speed</p>

        <p><b>Clef</b> - The five lines generally used in modern musical notation have no precise meaning without the addition at the left-hand side of a clef: a sign that specifies a particular note to be indicated by one of the lines, from which other notes may be gauged.</p>

        <p><b>Cadence</b> - Usually consists of two chords that provide musical punctuation at the end of a phrase</p>

    </div>
</%block>
